/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-back {
   background: lightgray;
   border: 2em;
   border-color: brown;
 }

 .title-index {
  background: lightgray;
  size: 20px;
  font-size: 70px;
  color: brown;
  outline: 10px;
  outline-color: brown;
  outline-style: groove;
  align-self: center;
  margin: 1em;
 }

 /*h2.header-name {
   font-size: 25px;
   background: brown;
   align-self: center;
 }*/

 h2.header-name {
  color: brown;
  font-size: 30px;
  background: lightgray;
  align-self: center;
  outline: 10px;
  outline-color: brown;
  outline-style: groove;
  margin: .5em;
 }

 /*h1.new-question {
   color: brown;
 }*/
 .render-errors {
   color: #E88E0C;
 }

 .divider {
   display: flex;
   justify-content: space-between;
   align-items: stretch;
 }

 .header-group {
  /*background-color: brown;*/
  height: 8em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  font-family: 'Artifika', serif;
  background-image: url(https://www.globalevidencesummit.org/sites/globalevidencesummit.org/files/uploads/Questions%20banner.jpg)

 }

 a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
    text-decoration: underline;
  }
  a:visited {
    color: brown;
    text-decoration: line-through;
  }

 .link-switch {
   color: blue;
   cursor: pointer;
 }

 .link-switch:hover {
   /*color: #67CAFE;*/
   color: #67CAFE;
   cursor: pointer;
 }

 .login-input1 {
    height:20px;
    font-size:14pt;
    padding: 4px;
    border: 10px;
    margin: 5px;
    outline-width: 0;
}

  .login-input2 {
     height: 25px;
     width: 800px;
     font-size:14pt;
     padding: 4px;
     border: 10px;
     border-color: black;
     margin: 20px;
     outline-width: 10px;
     outline: 10px;
     outline-color: brown;
     outline-style: groove;

  }



 .login-form-container {
    width: 500px;
    display: inline-block;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    /*margin-left: 450px;*/
    vertical-align: middle;
    /*align-self: right;*/
    color: #53B245;
    font-weight: bold;
    font-size: 25px;
    background-color: brown;
    /*width: 200px;*/
    /*padding-left: 300px;*/
    /*padding-top: 100px;*/
    /*float: middle;*/
    font-family: 'Artifika', serif;
    /*text-align: center;*/
    border-radius: 25px;
    padding: 10px;
    border: 25px;
    text-align: center;

 }

 /*.login-signup {
   background-color: brown;
 }*/

  h1.header1 {
    font-family: 'Artifika', serif;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: padding-box;
    font-size: 150px;
    color: brown;
  }
/*http://i.imgur.com/kyB4ZoR.png*/
  .background {
    background-image: url('http://i.imgur.com/FazR5LO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-position: 0px -300px;*/
    height: 100vh;
    object-fit: cover;
    text-align: center;
  }
/*http://i.imgur.com/FazR5LO.png*/
  .btn {
  background: #53B245;
  background-image: -webkit-linear-gradient(top, #53B245, #53B245);
  background-image: -moz-linear-gradient(top, #53B245, #53B245);
  background-image: -ms-linear-gradient(top, #53B245, #53B245);
  background-image: -o-linear-gradient(top, #53B245, #53B245);
  background-image: linear-gradient(to bottom, #53B245, #53B245);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #47db30;
  background-image: -webkit-linear-gradient(top, #47db30, #47db30);
  background-image: -moz-linear-gradient(top, #47db30, #47db30);
  background-image: -ms-linear-gradient(top, #47db30, #47db30);
  background-image: -o-linear-gradient(top, #47db30, #47db30);
  background-image: linear-gradient(to bottom, #47db30, #47db30);
  text-decoration: none;
}

.label2 {
  padding-left: 8px;
}

.question-section {
  /*display: flex;
  justify-content: flex-end;*/
  margin: 1em;
}

.question-index-item {
  /*position: relative;
  display: flex;
  justify-content: space-between;
  font-family: 'Artifika', serif;
  height: 4em;
  margin: 1em;*/
  position: relative;
    display: flex;
    justify-content: space-between;
    font-family: 'Artifika', serif;
    height: 4em;
    margin: 1em;
    outline: 1px;
    outline-color: #98a1a2;
    outline-style: solid;
}

.knob {
  /*position: fixed;
  display: flex;
  justify-content: flex-start;*/
}

.question-index-item:hover {
  background: #98A1A2;
  /*border-style: double;
  border-color: black;*/
}

.button1 {
  /*margin: 1em;*/
  background: #53B245;
  background-image: -webkit-linear-gradient(top, #53B245, #53B245);
  background-image: -moz-linear-gradient(top, #53B245, #53B245);
  background-image: -ms-linear-gradient(top, #53B245, #53B245);
  background-image: -o-linear-gradient(top, #53B245, #53B245);
  background-image: linear-gradient(to bottom, #53B245, #53B245);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button1:hover {
  cursor: pointer;
  background: #47db30;
  background-image: -webkit-linear-gradient(top, #47db30, #47db30);
  background-image: -moz-linear-gradient(top, #47db30, #47db30);
  background-image: -ms-linear-gradient(top, #47db30, #47db30);
  background-image: -o-linear-gradient(top, #47db30, #47db30);
  background-image: linear-gradient(to bottom, #47db30, #47db30);
  text-decoration: none;
}

.button2 {
  /*margin: 1em;*/
  background: brown;
  background-image: -webkit-linear-gradient(top, brown, brown);
  background-image: -moz-linear-gradient(top, brown, brown);
  background-image: -ms-linear-gradient(top, brown, brown);
  background-image: -o-linear-gradient(top, brown, brown);
  background-image: linear-gradient(to bottom, brown, brown);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button2:hover {
  cursor: pointer;
  background: #D92200;
  background-image: -webkit-linear-gradient(top, #D92200, #D92200);
  background-image: -moz-linear-gradient(top, #D92200, #D92200);
  background-image: -ms-linear-gradient(top, #D92200, #D92200);
  background-image: -o-linear-gradient(top, #D92200, #D92200);
  background-image: linear-gradient(to bottom, #D92200, #D92200);
  text-decoration: none;
}

.new-button {
  background: #53B245;
  background-image: -webkit-linear-gradient(top, #53B245, #53B245);
  background-image: -moz-linear-gradient(top, #53B245, #53B245);
  background-image: -ms-linear-gradient(top, #53B245, #53B245);
  background-image: -o-linear-gradient(top, #53B245, #53B245);
  background-image: linear-gradient(to bottom, #53B245, #53B245);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 100px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.new-button:hover {
  cursor: pointer;
  background: #47db30;
  background-image: -webkit-linear-gradient(top, #47db30, #47db30);
  background-image: -moz-linear-gradient(top, #47db30, #47db30);
  background-image: -ms-linear-gradient(top, #47db30, #47db30);
  background-image: -o-linear-gradient(top, #47db30, #47db30);
  background-image: linear-gradient(to bottom, #47db30, #47db30);
  text-decoration: none;
}

.form-question {
  /*outline: 15px;
  outline-color: brown;
  outline-style: groove;*/
  margin: 2em;
}

/*.author-tag {
  position: relative;
  display: flex;
  align-items: flex-end;
}*/

/*.upper {
  position: relative;
  display: flex;
  align-items:flex-start;
}*/
