/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .logo {
  background-image: url(https://image.flaticon.com/icons/svg/172/172166.svg)
 }

 .login-input {
    height:20px;
    font-size:14pt;
}

 .login-form-container {

    display: inline-block;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    margin-left: 450px;
    opacity: 0.8;
    vertical-align: middle;
    /*align-self: right;*/
    color: #53B245;
    font-weight: bold;
    font-size: 30px;
    background-color: brown;
    /*width: 200px;*/
    /*padding-left: 300px;*/
    /*padding-top: 100px;*/
    /*float: middle;*/
    font-family: 'Artifika', serif;
    /*text-align: center;*/


 }

 /*div.box {
	border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	padding: 4px;
	margin: 4px 4px 0px 4px;
	float:left;
  }*/

  h1.header1 {
    font-family: 'Artifika', serif;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex
    box-sizing: padding-box;
    font-size: 150px;
    /*margin-bottom: 200px;*/
    /*padding-bottom: 100px;*/
    color: brown;

  }

  body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/094/668/non_2x/free-3d-question-marks-background-vector.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position: 0px -300px;
  }

  .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  opacity: 1.0;
}
